<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Person Statistics{% endblock %}</title>
	<link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-gray-100 text-gray-900">
	<header class="bg-blue-500 p-4 text-white text-center">
		<nav class="flex justify-start gap-4">
			<a href="{{ path('best_10') }}"
				class="py-1 px-3 rounded {% if app.request.attributes.get('_route') == 'best_10' %}bg-gray-400 text-white font-bold{% else %}bg-gray-600 text-gray-200 hover:bg-gray-500{% endif %}">
				Nejlepších 10
			</a>
			<a href="{{ path('person_add') }}"
				class="py-1 px-3 rounded {% if app.request.attributes.get('_route') == 'person_add' %}bg-gray-400 text-white font-bold{% else %}bg-gray-600 text-gray-200 hover:bg-gray-500{% endif %}">
				Nahlášení
			</a>
			<a href="{{ path('yetinder') }}"
				class="py-1 px-3 rounded {% if app.request.attributes.get('_route') == 'yetinder' %}bg-gray-400 text-white font-bold{% else %}bg-gray-600 text-gray-200 hover:bg-gray-500{% endif %}">
				Yettinder
			</a>
			<a href="{{ path('statistics') }}"
				class="py-1 px-3 rounded {% if app.request.attributes.get('_route') == 'statistics' %}bg-gray-400 text-white font-bold{% else %}bg-gray-600 text-gray-200 hover:bg-gray-500{% endif %}">
				Statistiky
			</a>
		</nav>
	</header>
	
	<main class="container mx-auto my-8">
		{% block body %}{% endblock %}
	</main>
	<footer class="bg-gray-800 text-white text-center p-4 transition-all duration-500 ease flex items-center justify-end space-x-4">
		<p>Metal Siblings 2024</p>
	</footer>
</body>
</html>
